footer
  .container
    .row
      .col-3
        img(src=local_header.images.logo, alt="Terminal Central del Sur")
      .col-6
        p Avenida Tasqueña #1320, Col. Campestre Churubusco CP 04200 
        ul
          li
            a(href="#") Aviso de Privacidad 
          li
            a(href="#") Terminos y condiciones
      .col-3
        p © 2018 TCS Todos los derechos reservados
if section_scripts
  - var total_scripts = section_scripts[current_profile].length
  - for (var i = 0; i < total_scripts; i++)
    script(type="text/javascript" src=section_scripts[current_profile][i])