- var local_header={}
- local_header['images']={}
- local_header.images['logo']=global_path+images.global+'tcs.svg'
- local_header.images['logo_tcs']=global_path+images.global+'logo-tcs-site.svg'
- local_header.images['logo_aers']=global_path+images.global+'logo-aers.png'
- local_header.images['logo_estrella_oro']=global_path+images.global+'logo-estrella_oro.png'
- local_header.images['logo_ado']=global_path+images.global+'logo-ado.png'
- local_header.images['imagen1']=global_path+images.global+'tcs-home-background-image.jpg'
header
  .main-header
    .container
      .row
        .col-8
          ul.date-phone
            li
              span.icon-date
              p S&aacute;bado 11 de Noviembre de 2017
            li
              span.icon-phone 
              p Tel: (+52) 55 54 84 18 00
        .col-4
          ul.social-networks
            li
              a(href="#") 
                span.icon-facebook
            li
              a(href="#") 
                span.icon-twitter
            li
              a(href="#") 
                span.icon-instagran
  .menu-principal
    .container
      .row
        .col-2.content-logo
          if home
            h1
              img.logo(src=local_header.images.logo_tcs, alt="Terminal Central del Sur")
          else
            a(href="/index.html")
              img.logo(src=local_header.images.logo_tcs, alt="Terminal Central del Sur")
        .col-10
          nav.menu
            ul
              li
                a(href="../sections/about.html") Acerca de
              li
                a(href="#") Servicios
                  ul
                    li
                      a(href="") Taxis
                    li
                      a(href="") Taxis
              li
                a(href="#") Facturaci&oacute;n
              li
                a(href="../sections/contact.html") Contacto
              li
                a.btn-default(href="#") Nuestras Rutas      
