header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0px;
  z-index: 15;
  background: rgba(red(@base-color), green(@base-color), blue(@base-color), 0.5);
  .main-header {
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid @icon-color;
    .date-phone {
      text-align: left;
      margin: 0;
      padding: 0;
      >li {
        margin: 0;
        padding: 0;
        margin-right: 30px;
        display: inline-block;
        p {
          display: inline-block;
          padding: 0px;
          margin-top: 8px;
          margin-bottom: 0px;
        }
        .icon-date,
        .icon-phone {
          color: @brand-color;
        }
      }
    }
    .social-networks {
      margin: 0;
      text-align: right;
      padding: 4px 0;
      >li {
        display: inline-block;
        margin-right: 7px;
        a {
          background:@icon-color;
          display: block;
          border-radius: 50%;
          height: 26px;
          width: 26px;
          text-align: center;
          font-size: 20px;
          line-height: 30px;
          span {
            color: @base-color;
          }
        }
        &:first-child {
          a:hover {
            background: #3b5999;
          }
        }
        &:nth-child(2) {
          a:hover {
            background: #55acee;
          }
        }
        &:last-child {
          a:hover {
            background: #c32aa3;
          }
        }
      }
    }
  }
  .menu-principal{
    .content-logo {
      text-align: center;
      margin-top: 5px;
      a,
      h1{
        display: block;
        margin: 0;
        .logo {
          display: inline-block;
          height: 35px;
        }
      }
    }
    .menu {
      margin: 0px;
      text-align: right;
    
      >ul {
        padding-top: 15px;
          >li {
            display: inline-block;
            position: relative;
            >a {
              padding: 8px 20px;
              color: @accent-first-color;
              font-weight: @bold;
              &:hover {
                +ul {
                    display: block;
                }
              }
              &.btn-default{
                color: @base-color;
              }
            }
            >ul {
              display: none;
              padding: 0;
              position: absolute;
              width: 100%;
              background: pink;
              left: 0;
              top: 33px;
              list-style: none;
              >li {
                text-align: left;
                a {
                  padding: 10px;
                  display: block;
                }
              }
            }
          }
      }
    }
  }
  &.menu-fixed{
    background: @accent-first-color;
  }
}



