//-Configuración y variables globales del proyecto
include ../config/_variables

//-
  Ajustes de la configuración global para esta sección
- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Acerca de'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
  - var section_scripts =  {}
  - section_scripts['dev'] = [global_path  + scripts.base + 'script_1.js', global_path  + scripts.base + 'script_2.js']
  - section_scripts['prod'] = [global_path  + scripts.base + 'main.min.js']
doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header 
    section.about
      .container
        .title-section
          h2 Acerca de Nosotros
        .row.top
          .img
            img(src="http://placekitten.com/350/350", alt="")
          .col-6
            h3 Vision
            p Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Es un hecho establecido 
          .col-6
            h3 Mision
            p Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".
        .row.bottom
          h3 Valores
          p Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".
    section.advertisement
      .container
        .title-section
          h2 Anunciantes
        .row
          .col-6.section-left
            .col-6
              img(src="https://costaline.com.mx/wp-content/uploads/2016/06/guerrero.jpg", alt="")
            .col-6
              img(src="https://costaline.com.mx/wp-content/uploads/2016/06/estadodemex.jpg", alt="")
            .col-12
              img(src="https://content.vivaaerobus.com/Upload-VB/Banners/promo/Banner_90_descuento_promo_20180527.png", alt="")
          .col-6.section-right
            .col-6              
              img(src="https://futura.com.mx/assets/futura/images/futura/city-22e71e60fe.png", alt="")
            .col-6
              img(src="https://costaline.com.mx/wp-content/uploads/2016/06/taxco_1.jpg", alt="")
            .col-6
              img(src="https://content.vivaaerobus.com/Upload-VB/home/block/Block_tarjeta-Scotia_180216.png", alt="")
        .row
          .col-6.section-right
            .col-6              
              img(src="https://paquetes.viajamas.com/_lib/iamsa/img/4.jpg", alt="")
            .col-6
              img(src="https://content.vivaaerobus.com/Upload-VB/home/block/mascota-es.png", alt="")
            .col-6
              img(src="http://www.grupo-iamsa.com.mx/img/cetram.jpg", alt="")
          .col-6.section-left
            .col-6
              img(src="http://www.grupo-iamsa.com.mx/img/nuevas-rutas.jpg", alt="")
            .col-6
              img(src="http://www.grupo-iamsa.com.mx/img/viajamas.png", alt="")
            .col-12
              img(src="https://costaline.com.mx/wp-content/uploads/2017/08/05.jpg", alt="") 
    include ../template/_footer

