//-Configuraci칩n y variables globales del proyecto
include ../config/_variables

//-
  Ajustes de la configuraci칩n global para esta secci칩n
- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la p치gina
- var page = 'Contacto'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
  - var section_scripts =  {}
  - section_scripts['dev'] = [global_path  + scripts.base + 'script_1.js', global_path  + scripts.base + 'script_2.js']
  - section_scripts['prod'] = [global_path  + scripts.base + 'main.min.js']
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push( global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path + scripts.controllers + 'contact.js')
- section_scripts['dev'].push('https://maps.googleapis.com/maps/api/js?key=AIzaSyCm0T60hpqdmQpfZ1eGyHuNg1hR4LVuhV8&callback=initMap')



doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header 
    section.contact
      .container
        .row
          ul
            li.col-4
              .title-section
                h2 Contacto
              p.intro-section Para ofrecer un mejor Servicio ponemos a su disposicion este espacio para sus comentarios.
              form(action="")
                ul.form-contact
                  li 
                    p Nombre:
                  li
                    input(type="text")
                  li 
                    p Telefono:
                  li
                    input(type="text")
                  li 
                    p Correo Electr&oacute;nico:
                  li
                    input(type="text")
                  li 
                    p Tipo de Mensaje:
                  li
                    .arrow
                      select(name="")
                        option(value="0") -Seleccionar-
                        option(value="1") -Queja-
                  li  
                    p Comentario: 
                  li
                    textarea(name="", cols="30", rows="10")
                  li
                    .notifications
                      .col-1 
                        input(type="checkbox")  
                      .col-11
                        label Deseo ser notificadx de las acciones tomadas                                      
                  li
                    .send-contact
                      input.btn-default.button(type="submit")
            li.col-8
              div.floating-panel
                b Como llegar
                select#mode
                  option(value="SELECT") Seleccione una Opcion
                  option(value="DRIVING") En Auto
                  option(value="WALKING") A pie
                  option(value="TRANSIT") En Transporte Publico
                  option(value="BICYCLING") En Bicicleta
              .map#map
    include ../template/_footer