//-Configuraci칩n y variables globales del proyecto
include ../config/_variables

//-
  Ajustes de la configuraci칩n global para esta secci칩n
- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la p치gina
- var page = 'Contacto'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
  - var section_scripts =  {}
  - section_scripts['dev'] = [global_path  + scripts.base + 'script_1.js', global_path  + scripts.base + 'script_2.js']
  - section_scripts['prod'] = [global_path  + scripts.base + 'main.min.js']
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push( global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path + scripts.controllers + 'contact.js')
- section_scripts['dev'].push(global_path + scripts.base + 'main.js')
- section_scripts['dev'].push('https://maps.googleapis.com/maps/api/js?key=AIzaSyCm0T60hpqdmQpfZ1eGyHuNg1hR4LVuhV8&callback=initMap')



doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header 
    section.contact
      .container
        .row
          .col-4
            .title-section
              h2 Contacto
            form(action="")
              fieldset
                legend Para ofrecer un mejor Servicio ponemos a su disposicion este espacio para sus comentarios.
                ul.form-contact
                  li 
                    label(for="name")  Nombre:
                    input#name(type="text")
                  li 
                    label(for="tel") Telefono:
                    input#tel(type="text")                    
                  li 
                    label(for="email") Correo Electr&oacute;nico:
                    input#email(type="email")
                  li
                    label(for="type-message") Tipo de Mensaje:
                    select#type-message(name="")
                      option(value="0") -Seleccionar-
                      option(value="1") -Queja-
                  li 
                    label(for="comment") Comentario:
                    textarea#comment(name="", cols="30", rows="10")
                  li
                    .notifications
                      .col-1 
                        input(type="checkbox")  
                      .col-11
                        label Deseo ser notificadx de las acciones tomadas                                      
                  li
                    .send-contact
                      input.btn-default.button(type="submit")
          .col-8
            div.floating-panel
              b Como llegar
              select#mode
                option(value="SELECT") Seleccione una Opcion
                option(value="DRIVING") En Auto
                option(value="WALKING") A pie
                option(value="TRANSIT") En Transporte Publico
                option(value="BICYCLING") En Bicicleta
            .map#map
    section.advertisement#seccion-scroll
      .container
        .title-section
          h2 Socios Comerciales
        .row
          .col-6.section-left
            .col-6
              a(href="#")
                img(src="https://costaline.com.mx/wp-content/uploads/2016/06/guerrero.jpg", alt="")
            .col-6
              a(href="#")
                img(src="https://costaline.com.mx/wp-content/uploads/2016/06/estadodemex.jpg", alt="")
            .col-12
              a(href="#")
                img(src="https://content.vivaaerobus.com/Upload-VB/Banners/promo/Banner_90_descuento_promo_20180527.png", alt="")
          .col-6.section-right
            .col-6     
              a(href="#")         
                img(src="https://futura.com.mx/assets/futura/images/futura/city-22e71e60fe.png", alt="")
            .col-6
              a(href="#")
                img(src="https://costaline.com.mx/wp-content/uploads/2016/06/taxco_1.jpg", alt="")
            .col-6
              a(href="#")
                img(src="https://content.vivaaerobus.com/Upload-VB/home/block/Block_tarjeta-Scotia_180216.png", alt="")
        .row
          .col-6.section-right
            .col-6   
              a(href="#")           
                img(src="https://paquetes.viajamas.com/_lib/iamsa/img/4.jpg", alt="")
            .col-6
              a(href="https://www.vivaaerobus.com/mx")
                img(src="https://content.vivaaerobus.com/Upload-VB/home/block/mascota-es.png", alt="")
            .col-6
              a(href="#")
                img(src="http://www.grupo-iamsa.com.mx/img/cetram.jpg", alt="")
          .col-6.section-left
            .col-6
              a(href="#")
                img(src="http://www.grupo-iamsa.com.mx/img/nuevas-rutas.jpg", alt="")
            .col-6
              a(href="#")
                img(src="http://www.grupo-iamsa.com.mx/img/viajamas.png", alt="")
            .col-12
              a(href="#")
                img(src="https://costaline.com.mx/wp-content/uploads/2017/08/05.jpg", alt="") 
    include ../template/_footer